@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "EurostileCondensed";
  src: url("/fonts/EurostileCondensed.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,body,#root { height: 100%; background:#0B1418; color:#B8C7CC; }
* { box-sizing: border-box; }
